<html>
<div class="fluid-container">
    <img src="contactus.jpg" class="float-left" width="700" height="700">
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <label class="Contact text-info">CONTACT US</label>
    </div>&nbsp;
</div>
<div class="row">
    <div class="col-md-12"></div>&nbsp;
</div>

<div class="row">
    <div class="col-md-12"></div>&nbsp;
</div>
<div class="row">
    <div class="col-md-6">
        <h4 class="text-primary">BUSINESS HOURS</h4>
    </div>&nbsp;
</div>
<div class="row">
    <div class="col-md-8">
        <h5>Monday to Sunday: 10:00 AM to 10:00 PM IST</h5>
    </div>&nbsp;
</div>
<div class="row">
    <div class="col-md-12"></div>&nbsp;
</div>
<div class="row">
    <div class="col-md-6">
        <h4 class="text-primary">EMAIL US</h4>
    </div>&nbsp;
</div>
<div class="row">
    <div class="col-md-12"></div>&nbsp;
</div>

<div class="row">
    <div class="col-md-6">
        <h4>orders@flowerboutique.com</h4>
    </div>&nbsp;
</div>


</html>