<html>
<div class="fluid-container">
    <img src="about.jpg" width="750" class="float-left" height="700">
</div>
<div class="row">
    <div class="col-md-12"></div>&nbsp;
</div>
<div class="row">
    <div class="col-md-12"></div>&nbsp;
</div>
<div class="row">
    <div class="col-md-12"></div>&nbsp;
</div>
<div class="row">
    <div class="col-md-12"></div>&nbsp;
</div>

<div class="row">
    <div class="col-md-12"></div>&nbsp;
</div>


<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <label>
            You would think that giving just flowers could be obsolete, our mission with Fiorella is to redefine the
            tradition
            and create something classy and beautiful. We beautifully design and style every flower in an incredible
            way.
        </label>
    </div>
</div>&nbsp;
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <label>
            In addition to fabulous service, infused with creativity and reliability, we offer not only elegant
            florals but
            also
            exquisite goodies to make the present a memorable one. We lovingly style exceptional elements to
            match the
            expectations, aura and essence of your dream day, ensuring the most special experience for your
            loved ones.
        </label>
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <label>
            In addition to fabulous service, infused with creativity and reliability, we offer not only elegant
            florals but
            also
            exquisite goodies to make the present a memorable one. We lovingly style exceptional elements to
            match the
            expectations, aura and essence of your dream day, ensuring the most special experience for your
            loved ones.
        </label>
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <label>
            We are because you are!
        </label>
    </div>
</div>

</html>