<HTML>
<div class="fluid-container">
  <div class="row">
    <div class="col-md-12" class="container"></div>
  </div>&nbsp;
  <div class="row">
    <div class="col-md-1">
      <a [routerLink]='["thirdcomponent"]' routerLinkActive="active">Home</a>
    </div>
    <div class="col-md-1">
      <a [routerLink]='["firstcomponent"]' routerLinkActive="active">About</a>
    </div>
    <div class="col-md-1">
      <a [routerLink]='["secondcomponent"]' routerLinkActive="active">Contact us</a>
    </div>
    <div class="col-md-6">
      <h2 class="header">FLOWER BOUTIQUE</h2>
    </div>
  </div>

</div>


<router-outlet></router-outlet>


</HTML>